{:source-paths ["src"]

 :dependencies [[camel-snake-kebab "0.4.2"]]

 :builds {:transform-to-editable-worker
          {:target :browser
           :output-dir "public/js"
           :output-to "public/js/transform-to-editable-worker.js"
           :asset-path "/js"
           :modules {:transform-to-editable-worker {:init-fn transform-to-editable-worker/on-message
                                                     :web-worker true}}}

          :transform-from-editable-worker
          {:target :browser
           :output-dir "public/js"
           :output-to "public/js/transform-from-editable-worker.js"
           :asset-path "/js"
           :modules {:transform-from-editable-worker {:init-fn transform-from-editable-worker/on-message
                                                      :web-worker true}}}}}
